.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 24px;
    &--copy {
        font-weight: 400;
    }
    &--social {
        display: flex;
        align-items: center;
        gap: 16px;
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            display: flex;
            &:hover,
            &:focus-visible {
                svg {
                    fill: rgba(255, 255, 255, 1);
                }
            }
            svg {
                width: 20px;
                fill: rgba(255, 255, 255, 0.6);
                stroke: transparent;
                transition: fill 0.3s;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding: 0 40px 40px;
    }

    @media screen and (min-width: 1024px) {
        padding: 0 44px 40px;
    }
}
